@media (max-width: 70rem) {
  .nav_pages {
    display: none;
  }
}

@media (min-width: 70rem) {
  .nav {
    display: flex;
    justify-content: space-between;
    &__pages {
      display: flex;
    }
  }

  p {
    display: inline-block;
    color: var(--primary-text-color);
    padding-right: var(--standard-padding);
  }
}
