.header,
.nav {
  justify-content: space-between;
  padding-top: 1rem;


}



.nav {
  width: 100vw;
   

  

  &__small {
    position: relative;
    z-index: 1000;


    &--hamburger {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

   
  }
  &__link {
    color: var(--secondary-text-color);
    text-decoration: none;
     &:focus {
      outline: none;
    }
  }
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  left: 60%;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  transition: all 0.8s ease-out;

  &.showMenu {
    width: 50%;
    margin-top: 5rem;
  }

  & li:first-child {
    margin-top: 15rem;
  }
}

@media only screen and (max-width: 85rem) {
  .nav__pages {
    display: none;
  }
}

@media only screen and (min-width: 85rem) {
  .nav {
    &__link p {
    display: inline-block;
    padding-right: var(--standard-padding);
  }
    &__pages {
      display: block;
    }

    &__small {
      display: none;
    }
  }
  
}

