.header,
.nav {
  justify-content: space-between;
  padding-top: 1rem;
}

.nav {
  width: 100vw;

  &__small {
    position: relative;

    &--hamburger {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }

}

.menuNav {
  list-style: none;
  display: none;
  position: fixed;
  left: 30%;
  top: 0;
  height: 100vh;
  width: 50rem;
 background: rgba(57, 57, 57, 0.25);
box-shadow: 0 8px 32px 0 rgba(7, 9, 29, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border: 1px solid rgba(92, 92, 92, 0.045);
  padding-left: 5rem;


  &.showMenu {
    display: block;
  }

  & li:first-child {
    margin-top: 15rem;
  }
   
  & li {
    margin-bottom: var(--small-padding);
  }
}

@media only screen and (min-width: 40rem) {
  .menuNav {
    left: 60%;

    width: 40rem;
  }
}

@media only screen and (min-width: 60rem) {
  .menuNav {
    left: 70%;

    width: 40rem;
  }
}

@media only screen and (max-width: 85rem) {
  .nav__pages {
    display: none;
  }
}

@media only screen and (min-width: 85rem) {
  .nav {
    &__link p {
      display: inline-block;
      padding-right: var(--standard-padding);
    }
    &__pages {
      display: block;
    }

    &__small {
      display: none;
    }
  }
}
