.button {
    font-family: inherit;
    padding: 1rem 2rem;
   background-image: linear-gradient(to left,var(--primary-purple), var(--primary-blue));
   border: none;
   border-radius: 5px;
color: var(--primary-text-color);
   
   &:hover {
    cursor: pointer;
   }
}

