@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Syncopate:wght@400;700&display=swap");



:root {
  --primary-purple: #1cc0f4;
  --primary-blue: #7217ec;
  --primary-text-color: #ffff;
  --standard-padding: 2rem;

}


body {
  font-family: "Orbitron", sans-serif;
  color: #ffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-weight: 400;
}

h1 {
  font-size: clamp(5rem, 5vw, 7rem);
}

h2 {
  font-size: clamp(4.5rem, 4.5vw, 6em);
}
h3 {
  font-size: clamp(4rem, 4vw, 5rem);
}

h5 {
  font-size: clamp(3.5rem, 3.5vw, 4rem);
}
h6 {
  font-size: clamp(3rem, 3vw, 3rem);
}
button,
p {
  font-size: clamp(1.75rem, 1.75vw, 1.8rem);
}


.container {
  margin: 0 10vw;
}

.background {
  background-image: url(../public/img/background-1.jpg);
  width: 100vw;
  height: 990rem;
  background-repeat: no-repeat;
}

