@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Syncopate:wght@400;700&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --primary-purple: #1cc0f4;
  --primary-blue: #7217ec;
  --primary-text-color: #ffff;
  --standard-padding: 3rem;
  --secondary-text-color: #9c9c9c;
  --small-padding: 2rem;
  --component-margin: 7rem;
  --section-margin: 10rem;
}

@mixin button-main {
  border-radius: 5px;
  padding: 1rem 3rem;
  background-image: linear-gradient(
    to left,
    var(--primary-purple),
    var(--primary-blue)
  );
  
  border: none;

  color: var(--primary-text-color);
  font-family: inherit;
  transition: all 0.3s ease;

  &:hover {
    
    @include hover-state;
  
  }
}

.margin-small{
  margin-top: var(--small-padding);
}

.margin-right {
 margin-right: var(--small-padding);
}

.margin-top {
  margin-top: var(--component-margin);
}

.margin-section {
  margin-top: var(--section-margin);
}
.secondary-color {
  color: var(--secondary-text-color);
}

.margin-standard {
  margin-top: var(--standard-padding);
}

@mixin hover-state {
cursor: pointer;
    transform: translateY(-5px);
}

@mixin button-secondary {

  font-family: inherit;
  padding: 0 5rem;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to left,
      var(--primary-purple),
      var(--primary-blue)
    )
    1;
  background: transparent;
  background: -webkit-linear-gradient(
    var(--primary-purple),
    var(--primary-blue)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  &:hover {
    @include hover-state;
  }
}

a {
  text-decoration: none;
}
.secondary-button {
  @include button-secondary;
}
.button {
  @include button-main;
}
body {
  font-family: "Orbitron", sans-serif;
  color: #ffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-weight: 400;
}

h1 {
  font-size: clamp(4rem, 4vw, 5rem);
}

h2 {
  font-size: clamp(3.75rem, 3.75vw, 4.5em);
}
h3 {
  font-size: clamp(3rem, 3vw, 4rem);
}

h5 {
  font-size: clamp(2.75rem, 2.75vw, 3rem);
}
h6 {
  font-size: clamp(2rem, 2vw, 2.25rem);
}
button,
input,a,p {
  font-size: clamp(1.75rem, 1.5vw, 1.85rem);
}

.container,
.header {
  margin: 0 10vw;
}

//utitlify classes
.flex {
  display: flex;
}

.background {
  background-image: url(../public/img/background-1.jpg);
  width: 100vw;
  height: 990rem;
  background-repeat: no-repeat;
}
