 html{
  padding: 0;
  margin: 0;
  font-size: 225%;
}

.background {
    width: 100vw;
    height: 700rem;
    background-image: url(../public/img/background-1.jpg);
    background-repeat: no-repeat;
}

